{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
        {% endif %}
    </div>
    
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <h3 class="text-success">${{ product.price }}</h3>
        <p><strong>Category:</strong> {{ product.category.name }}</p>
        <p><strong>Stock:</strong> {{ product.stock }} units</p>
        
        <p>{{ product.description|linebreaks }}</p>
        
        <button onclick="addToCart({{ product.id }})" class="btn btn-success btn-lg">
            <i class="fas fa-cart-plus"></i> Add to Cart
        </button>
    </div>
</div>
{% endblock %}